// Specific CSS for your home-page
body {
  background-image: linear-gradient(0deg, #f5dbdc 49%, #acaee1 100%);
}
h1 {
  font-family: $h1-font;
    color: $font-color-h1;
}

.animation { position:absolute;
        top : 200px;
        background: rgb(255,99,86);
background: -moz-linear-gradient(319deg, rgba(255,99,86,1) 57%, rgba(255,179,139,1) 88%);
background: -webkit-linear-gradient(319deg, rgba(255,99,86,1) 57%, rgba(255,179,139,1) 88%);
background: linear-gradient(319deg, rgba(255,99,86,1) 57%, rgba(255,179,139,1) 88%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6356",endColorstr="#ffb38b",GradientType=1);
        left: 137.5px;
        height:80px;
        width:80px;
        border-radius: 100px;
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 7s;
        -moz-transition-property: -moz-transform background-color;
        -moz-transition-duration: 7s;
        -webkit-animation-name: grow;
        -webkit-animation-duration: 11s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: grow;
        -moz-animation-duration: 11s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        z-index: 1;
}

@-webkit-keyframes grow {
    0% { transform: scale(1); }
    50% { transform: scale(3.5); }
    100% { transform: scale(1); }
}
