.page-container {
  position: relative;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(171.08deg, #acaee1 6.78%, #f5dbdc 45.25%);
  overflow: hidden;
  text-align: center;
}

.mobile-title {
  margin: 0;
  color: rgb(255, 99, 86);
  text-align: center;
}

.animation {
  position: relative;
  display: flex;
  margin: 140px auto 0;
  background: rgb(255, 99, 86);
  background: linear-gradient(
    319deg,
    rgba(255, 99, 86, 1) 57%,
    rgba(255, 179, 139, 1) 80%
  );
  height: 80px;
  width: 80px;
  border-radius: 100%;
  animation: transform 11s infinite;
  animation-name: grow;
  transform-origin: center;
  z-index: 1;
}
@-webkit-keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2.5);
  }
  100% {
    transform: scale(1);
  }
}

.fog-1 {
  position: absolute;
  width: 400%;
  top: 150px;
  left: 0;
  opacity: 0.7;
  z-index: 2;
  animation: transform 70s infinite;
  animation-name: move;
}

.fog-2 {
  position: absolute;
  width: 400%;
  top: -20px;
  left: 0;
  opacity: 0.5;
  z-index: 0;
  animation: transform 70s infinite;
  animation-name: move;
}

@-webkit-keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}

.charlies-btn-homepage {
  position: relative;
  bottom: -100px;

  margin: 0 auto;
  z-index: 17;
  width: fit-content;
  height: auto;
  padding: 15px 25px;
  background: #ffffff;
  border-radius: 40px;
  text-decoration: none;

  font-family: $body-font;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;

  text-align: center;

  color: #fe786c;
  a {
    color: #fe786c;
    text-decoration: none;
  }
  &:active {
    color: rgb(248, 169, 132);
    text-decoration: none;
  }

  box-shadow: 0px 4px 19px 6px rgba(254, 120, 108, 0.23);
}

// Class for hiding the button until the JS code in btn-hidden.js reveals it
.hidden {
  display: none;
}
