<ul class="footer-list">
  <li>
<!-- Generator: Adobe Illustrator 25.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.6066 27.4231C19.1605 27.4231 20.4203 26.151 20.4203 24.5818C20.4203 23.0126 19.1605 21.7405 17.6066 21.7405C16.0527 21.7405 14.793 23.0126 14.793 24.5818C14.793 26.151 16.0527 27.4231 17.6066 27.4231Z" fill="#FE776B"/>
<path d="M33.039 18.9852C34.1221 18.9852 35 18.0986 35 17.0049C35 15.9112 34.1221 15.0246 33.039 15.0246C31.956 15.0246 31.078 15.9112 31.078 17.0049C31.078 18.0986 31.956 18.9852 33.039 18.9852Z" fill="#FE776B"/>
<path d="M24.5128 14.2066C25.5958 14.2066 26.4738 13.32 26.4738 12.2263C26.4738 11.1326 25.5958 10.246 24.5128 10.246C23.4297 10.246 22.5518 11.1326 22.5518 12.2263C22.5518 13.32 23.4297 14.2066 24.5128 14.2066Z" fill="#FE776B"/>
<path d="M17.9049 10.246C18.8231 10.246 19.5675 9.49431 19.5675 8.56704C19.5675 7.63977 18.8231 6.88807 17.9049 6.88807C16.9867 6.88807 16.2423 7.63977 16.2423 8.56704C16.2423 9.49431 16.9867 10.246 17.9049 10.246Z" fill="#FE776B"/>
<path d="M25.4081 4.39114C26.1144 4.39114 26.687 3.81291 26.687 3.09963C26.687 2.38635 26.1144 1.80812 25.4081 1.80812C24.7017 1.80812 24.1292 2.38635 24.1292 3.09963C24.1292 3.81291 24.7017 4.39114 25.4081 4.39114Z" fill="#FE776B"/>
<path d="M18.1181 2.15252C18.7067 2.15252 19.1839 1.67066 19.1839 1.07626C19.1839 0.481858 18.7067 0 18.1181 0C17.5295 0 17.0524 0.481858 17.0524 1.07626C17.0524 1.67066 17.5295 2.15252 18.1181 2.15252Z" fill="#FE776B"/>
<path d="M31.3762 10.2891C32.2945 10.2891 33.0388 9.53735 33.0388 8.61009C33.0388 7.68282 32.2945 6.93112 31.3762 6.93112C30.458 6.93112 29.7136 7.68282 29.7136 8.61009C29.7136 9.53735 30.458 10.2891 31.3762 10.2891Z" fill="#FE776B"/>
<path d="M31.078 26.7774C32.632 26.7774 33.8917 25.5053 33.8917 23.936C33.8917 22.3668 32.632 21.0947 31.078 21.0947C29.5241 21.0947 28.2644 22.3668 28.2644 23.936C28.2644 25.5053 29.5241 26.7774 31.078 26.7774Z" fill="#FE776B"/>
<path d="M4.68937 26.7774C6.24331 26.7774 7.50302 25.5053 7.50302 23.936C7.50302 22.3668 6.24331 21.0947 4.68937 21.0947C3.13544 21.0947 1.87573 22.3668 1.87573 23.936C1.87573 25.5053 3.13544 26.7774 4.68937 26.7774Z" fill="#FE776B"/>
<path d="M25.2376 32.8905C26.7915 32.8905 28.0512 31.6184 28.0512 30.0492C28.0512 28.48 26.7915 27.2079 25.2376 27.2079C23.6837 27.2079 22.424 28.48 22.424 30.0492C22.424 31.6184 23.6837 32.8905 25.2376 32.8905Z" fill="#FE776B"/>
<path d="M10.2315 32.8905C11.7854 32.8905 13.0451 31.6184 13.0451 30.0492C13.0451 28.48 11.7854 27.2079 10.2315 27.2079C8.67756 27.2079 7.41785 28.48 7.41785 30.0492C7.41785 31.6184 8.67756 32.8905 10.2315 32.8905Z" fill="#FE776B"/>
<path d="M11.1694 23.2042C12.7233 23.2042 13.983 21.9321 13.983 20.3628C13.983 18.7936 12.7233 17.5215 11.1694 17.5215C9.61542 17.5215 8.35571 18.7936 8.35571 20.3628C8.35571 21.9321 9.61542 23.2042 11.1694 23.2042Z" fill="#FE776B"/>
<path d="M11.1694 15.0677C12.7233 15.0677 13.983 13.7955 13.983 12.2263C13.983 10.6571 12.7233 9.38499 11.1694 9.38499C9.61542 9.38499 8.35571 10.6571 8.35571 12.2263C8.35571 13.7955 9.61542 15.0677 11.1694 15.0677Z" fill="#FE776B"/>
<path d="M2.81364 18.9852C4.36757 18.9852 5.62728 17.7131 5.62728 16.1439C5.62728 14.5747 4.36757 13.3026 2.81364 13.3026C1.25971 13.3026 0 14.5747 0 16.1439C0 17.7131 1.25971 18.9852 2.81364 18.9852Z" fill="#FE776B"/>
<path d="M4.68937 11.6236C6.24331 11.6236 7.50302 10.3515 7.50302 8.78229C7.50302 7.21307 6.24331 5.94096 4.68937 5.94096C3.13544 5.94096 1.87573 7.21307 1.87573 8.78229C1.87573 10.3515 3.13544 11.6236 4.68937 11.6236Z" fill="#FE776B"/>
<path d="M10.2315 5.94096C11.7854 5.94096 13.0451 4.66885 13.0451 3.09963C13.0451 1.53041 11.7854 0.258301 10.2315 0.258301C8.67756 0.258301 7.41785 1.53041 7.41785 3.09963C7.41785 4.66885 8.67756 5.94096 10.2315 5.94096Z" fill="#FE776B"/>
<path d="M24.5127 23.2042C26.0667 23.2042 27.3264 21.9321 27.3264 20.3628C27.3264 18.7936 26.0667 17.5215 24.5127 17.5215C22.9588 17.5215 21.6991 18.7936 21.6991 20.3628C21.6991 21.9321 22.9588 23.2042 24.5127 23.2042Z" fill="#FE776B"/>
<path d="M17.6066 35C19.1605 35 20.4203 33.7279 20.4203 32.1587C20.4203 30.5895 19.1605 29.3173 17.6066 29.3173C16.0527 29.3173 14.793 30.5895 14.793 32.1587C14.793 33.7279 16.0527 35 17.6066 35Z" fill="#FE776B"/>
<path d="M17.6066 19.8462C19.1605 19.8462 20.4203 18.5741 20.4203 17.0049C20.4203 15.4357 19.1605 14.1636 17.6066 14.1636C16.0527 14.1636 14.793 15.4357 14.793 17.0049C14.793 18.5741 16.0527 19.8462 17.6066 19.8462Z" fill="#FE776B"/>
</svg>
</li>
  <li>
<!-- Generator: Adobe Illustrator 25.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 500 500" xml:space="preserve">
<g>
  <path d="M76.5,4C42.6,4,15,31.5,15,65.4s27.6,61.5,61.5,61.5S138,99.4,138,65.4S110.4,4,76.5,4z M76.5,99.4c-18.7,0-34-15.2-34-34
    s15.2-34,34-34s34,15.2,34,34S95.2,99.4,76.5,99.4z"/>
  <path d="M76.5,188.5C42.6,188.5,15,216.1,15,250s27.6,61.5,61.5,61.5S138,283.9,138,250S110.4,188.5,76.5,188.5z M76.5,284
    c-18.7,0-34-15.2-34-34s15.2-34,34-34s34,15.2,34,34S95.2,284,76.5,284z"/>
  <path d="M76.5,373.1c-33.9,0-61.5,27.6-61.5,61.5S42.6,496,76.5,496s61.5-27.6,61.5-61.5S110.4,373.1,76.5,373.1z M76.5,468.5
    c-18.7,0-34-15.2-34-34c0-18.7,15.2-34,34-34s34,15.2,34,34C110.5,453.3,95.2,468.5,76.5,468.5z"/>
  <path d="M250,4c-33.9,0-61.5,27.6-61.5,61.5s27.6,61.5,61.5,61.5s61.5-27.6,61.5-61.5S283.9,4,250,4z M250,99.4
    c-18.7,0-34-15.2-34-34s15.2-34,34-34s34,15.2,34,34S268.7,99.4,250,99.4z"/>
  <path d="M250,188.5c-33.9,0-61.5,27.6-61.5,61.5s27.6,61.5,61.5,61.5s61.5-27.6,61.5-61.5S283.9,188.5,250,188.5z M250,284
    c-18.7,0-34-15.2-34-34s15.2-34,34-34s34,15.2,34,34S268.7,284,250,284z"/>
  <path d="M250,373.1c-33.9,0-61.5,27.6-61.5,61.5S216.1,496,250,496s61.5-27.6,61.5-61.5S283.9,373.1,250,373.1z M250,468.5
    c-18.7,0-34-15.2-34-34c0-18.7,15.2-34,34-34s34,15.2,34,34C284,453.3,268.7,468.5,250,468.5z"/>
  <path d="M423.5,4C389.6,4,362,31.5,362,65.4s27.6,61.5,61.5,61.5S485,99.4,485,65.4S457.4,4,423.5,4z M423.5,99.4
    c-18.7,0-34-15.2-34-34s15.2-34,34-34c18.7,0,34,15.2,34,34S442.2,99.4,423.5,99.4z"/>
  <path d="M423.5,188.5c-33.9,0-61.5,27.6-61.5,61.5s27.6,61.5,61.5,61.5S485,283.9,485,250S457.4,188.5,423.5,188.5z M423.5,284
    c-18.7,0-34-15.2-34-34s15.2-34,34-34c18.7,0,34,15.2,34,34S442.2,284,423.5,284z"/>
  <path d="M423.5,373.1c-33.9,0-61.5,27.6-61.5,61.5s27.6,61.5,61.5,61.5s61.5-27.6,61.5-61.5S457.4,373.1,423.5,373.1z M423.5,468.5
    c-18.7,0-34-15.2-34-34c0-18.7,15.2-34,34-34c18.7,0,34,15.2,34,34C457.5,453.3,442.2,468.5,423.5,468.5z"/>
</g>
</svg>
</li>
</ul>
