<div class="title">
  <h1 class="textCenter">When do you need Charlie the most?</h1>
</div>
<div id="diagram">
  <%= column_chart Session.group_by_day_of_week(:created_at, format: "%a").count %>
</div>

<div class="btnTop">
  <%= link_to "Settings", settings_path, class:"settingsBtn" %>
  <br>
  <div class="btnTop01">
  <%= link_to "Logout", destroy_user_session_path, method: :delete,  class:"miniBtn01" %>
  </div>
</div>

