<div class="mobile-container">
    <div class="title">
        <h1>422 Error - Unacceptable</h1>
    </div>
    <div class="title">
        <h1>Relax. Breathe in. Breathe out. Return to the landingpage or dashboard.</h1>
    </div>
    <!-- ANIMATION -->
    <div class="animation"></div>


    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 25.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0  -->
    <!-- FOG 1 -->
    <svg version="1.1" class="fog-1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080" xml:space="preserve">
        <style type="text/css">
            .st0 {
                fill: url(#SVGID_1_);
            }
        </style>
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="960.1951" y1="205" x2="960.1951"
            y2="1080.2198">
            <stop offset="0" style="stop-color:#F4F0F5" />
            <stop offset="1" style="stop-color:#F1E2E7" />
        </linearGradient>
        <path class="st0"
            d="M1920,1080.2H0.4V205l0,0c139.2,40.7,288.4,46.7,431.3,17.5l0,0c56-11.5,114.5-9.7,169.5,5.1l0,0
        c254.9,68.7,527.3,68.7,782.2,0.1l21.9-5.9c41.2-11.1,84.7-13.8,127.2-7.9l0,0c128.7,17.8,260.1,14.8,387.6-8.9l0,0V1080.2z" />
    </svg>
    <!-- FOG 2 -->
    <svg version="1.1" class="fog-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 1920 1080" xml:space="preserve">
        <style type="text/css">
            .st0 {
                fill: url(#SVGID_1_);
            }
        </style>
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="959.5" y1="1080" x2="959.5" y2="243.8783">
            <stop offset="0" style="stop-color:#F4DBDD" />
            <stop offset="1" style="stop-color:#F9F7F9" />
        </linearGradient>
        <path class="st0" d="M1920,1080H-1V243.9l225.1,64.9c156.3,45,321.7,57.2,483.9,35.5l126.4-16.9c244.9-32.7,568.9,39.2,738.6-0.9
        s0,0,0,0s0,0,0,0l346.9-82.6V1080z" />
    </svg>
</div>