.beautiful-btn {
  background: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 19px 6px #fe786c3b;
  border: 1px solid rgba(243, 216, 216, 0.788);
  padding: 3px 8px 3px 8px;
  color: #3e455a;
}
