.charlies-btn {
  position: relative;
  bottom: -0px !important ;

  margin: 0 auto;
  z-index: 17;
  width: fit-content;
  height: auto;
  padding: 15px 25px;
  background: #ffffff;
  border-radius: 40px;
  text-decoration: none;

  font-family: $body-font;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;

  text-align: center;

  color: #fe786c;
  a {
    color: #fe786c;
    text-decoration: none;
  }
  &:active {
    color: rgb(248, 169, 132);
    text-decoration: none;
  }
}
