.charlie-logo { 
    position: fixed;
    margin-top: 10px;
    left: 22px;
    top: 18px;
    font-family: Caveat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #3E455A;
    z-index: 10;
}