.mini-btn {
  margin-top: 20px;
  a {
    text-decoration: none;
    color: #3e455a;
  }
}

.mini-btn01 {
  margin: 10px;
  color: #3e455a !important;
  text-decoration: none !important;
  font-size: 18px;
}

.btn-top {
  margin-top: 35px;
}

.btn-top01 {
  margin-top: 25px;
}
