.page-container {
    position: relative;

    background-color: #FFF6F0
}
.content-container {
    padding-top: 80px;
}

.charlies-input {
    border: none;
    border-bottom: 1px solid #FE786C;
    padding: 21px 12px;
    border-radius: 6px 6px 0 0;
}

.sign-up {
    margin: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #FE786C;
}
// .btn {
//     position: absolute;
//     width: 298px;
//     height: 75px;
//     left: 31px;
//     top: 421px;

//     background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%, #FFFFFF 100%);
//     border-radius: 40px;
// }


.charlies-btn {
    position: absolute;
    width: 242.23px;
    height: auto;
    left: 58.88px;
    top: 443px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%, #FFFFFF 100%);
    border-radius: 40px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: #FE786C;

    //     width: 298px;
    //     height: 75px;
    //     left: 31px;
    //     top: 421px;
    
    //     
}

.login-link {
    text-decoration: none;
    color: #FE786C;
}