.page-container {
    position: relative;

    // background-color: #FFF6F0
}
.content-container {
    padding-top: 80px;
}

.charlies-input {
    border: none;
    border-bottom: 1px solid #FE786C;
    padding: 21px 12px;
    border-radius: 6px 6px 0 0;
}

.sign-up {
    margin: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #FE786C;
}

.charlies-btn {
    width: fit-content;
    height: auto;
    margin-top: 16px;
    margin-bottom: 12px;
    padding: 6px 16px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%, #FFFFFF 100%);
    border-radius: 40px;
        
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;

    text-align: center;

    color: #FE786C;

    box-shadow: 0px 4px 19px 6px rgba(254, 120, 108, 0.23);
}

.login-link {
    text-decoration: none;
    color: #FE786C;
    font-size: 15px;
    margin-left: 20px;
}