
.settings {
  background: transparent;
  margin-top: 40px;
  text-align: center;
  .card {
    border-radius: 20px;
    font-size: 18px;
    a {
      color: rgb(139, 28, 28);
    }
  }
}
#accordionMain {
  border: 1px solid rgba(250, 184, 253, 0.753);
  border-radius: 20px;
  box-shadow: 0 0 42px rgba(255, 196, 196, 0.637);
}
// Main accordion headers
#headingOne {
  background: white;;
  button {
  color: rgb(139, 28, 28);
  box-shadow: none;
  }
}
#headingTwo {
  background: white;
  button {
  color: rgb(139, 28, 28);
  box-shadow: none;
  }
}

// Contact accordion headers
#heading1 {
  background: white;;
  button {
  color: rgb(139, 28, 28);
  }
}
#heading2 {
  background: white;
  button {
  color: rgb(139, 28, 28);
  }
}
#heading3 {
  background: white;
  button {
  color: rgb(139, 28, 28);
  }
}

// Background Accordion ?? -has to be fixed


// Message save button
#msg-save-btn {
  background: transparent;
  border-radius: 4px;
  box-shadow: rgba(243, 216, 216, 0.911);
  border: 1px solid rgba(243, 216, 216, 0.788);
  padding: 3px 8px 3px 8px;
}

// Toggle Sound button (changing appearance on current_user.voice = true/false)
#toggletrue {
  background: transparent;
  a {
  text-decoration: none;
  }
}
#togglefalse {
  background: transparent;
  a {
    opacity: 0.4;
    text-decoration: none;
  }
}
#toggleswitchtrue {
  box-shadow: 0 0 42px rgba(255, 196, 196, 0.637);
  background: white;
  position: relative;
  border: none;
  margin-top: 50px;
  border: 1px solid rgba(189, 123, 185, 0.473);
  &:after {
    content: "";
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid rgba(49, 45, 49, 0.767);
    background-color: rgb(167, 255, 24);
    top: 15px;
  }
}

#toggleswitchfalse {
  background: rgba(255, 255, 255, 0.644);
  position: relative;
  border: none;
  margin-top: 50px;
  border: 1px solid rgba(189, 123, 185, 0.473);
  &:after {
    content: "";
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(230, 193, 255, 0.719);
    top: 14px;
  }
}